working
bin
random
lib/spf/
lib_data/resources-test/
test-output/
unittests/
data
lib/graph-parser
lib_data/utb-models
commands*
*.swp
lib_data/ud-models-v1.3/
deplambda.jar
lib
data
/.settings
.ant-targets-build.xml
