[submodule "data/GraphQuestions"]
	path = data/GraphQuestions
	url = https://sivareddyg@bitbucket.org/sivareddyg/graphquestions.git
[submodule "data/WebQuestions"]
	path = data/WebQuestions
	url = https://sivareddyg@bitbucket.org/sivareddyg/webquestions.git
[submodule "lib"]
	path = lib
	url = https://sivareddyg@bitbucket.org/sivareddyg/udeplambda-lib.git
[submodule "lib_data/ud-models-v1.2"]
	path = lib_data/ud-models-v1.2
	url = https://sivareddyg@bitbucket.org/sivareddyg/ud-models-v1.2.git
[submodule "lib_data/ud-models-v1.3"]
	path = lib_data/ud-models-v1.3
	url = https://sivareddyg@bitbucket.org/sivareddyg/ud-models-v1.3.git
