<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" metadata-complete="true" version="3.1">
  <servlet>
    <servlet-name>UniversalDependencyParserEnglish</servlet-name>
    <servlet-class>deplambda.servlets.UniversalDependencyParser</servlet-class>
    <init-param>
      <param-name>pipelineCount</param-name>
      <param-value>3</param-value>
    </init-param>
    <init-param>
      <param-name>0-annotators</param-name>
      <param-value>tokenize, ssplit, pos, lemma, ner, depparse</param-value>
    </init-param>
    <init-param>
      <param-name>0-tokenize.language</param-name>
      <param-value>en</param-value>
    </init-param>
    <init-param>
      <param-name>0-ssplit.eolonly</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>1-annotators</param-name>
      <param-value>tokenize, ssplit</param-value>
    </init-param>
    <init-param>
      <param-name>1-tokenize.whitespace</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>1-ssplit.eolonly</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>1-preprocess.addDateEntities</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>1-preprocess.addNamedEntities</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>2-annotators</param-name>
      <param-value>tokenize, ssplit, pos</param-value>
    </init-param>
    <init-param>
      <param-name>2-tokenize.whitespace</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>2-ssplit.eolonly</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>2-posTagKey</param-name>
      <param-value>UD</param-value>
    </init-param>
    <init-param>
      <param-name>2-pos.model</param-name>
      <param-value>/WEB-INF/lib_data/ud-models-v1.2/en/pos-tagger/utb-caseless-en-bidirectional-glove-distsim-lower.full.tagger</param-value>
    </init-param>
   <init-param>
      <param-name>2-deplambda</param-name>
      <param-value>true</param-value>
   </init-param>
   <init-param>
      <param-name>2-deplambda.lexicalizePredicates</param-name>
      <param-value>true</param-value>
   </init-param>
   <init-param>
      <param-name>2-deplambda.definedTypesFile</param-name>
      <param-value>/WEB-INF/lib_data/ud.types.txt</param-value>
   </init-param>
   <init-param>
      <param-name>2-deplambda.treeTransformationsFile</param-name>
      <param-value>/WEB-INF/lib_data/ud-enhancement-rules.proto</param-value>
   </init-param>
   <init-param>
      <param-name>2-deplambda.relationPrioritiesFile</param-name>
      <param-value>/WEB-INF/lib_data/ud-obliqueness-hierarchy.proto</param-value>
   </init-param>
   <init-param>
      <param-name>2-deplambda.lambdaAssignmentRulesFile</param-name>
      <param-value>/WEB-INF/lib_data/ud-substitution-rules.proto</param-value>
   </init-param>
   <init-param>
      <param-name>2-drawSvgTrees</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>2-svgZoomFactor</param-name>
      <param-value>1.5</param-value>
    </init-param>
  </servlet>
  
  <servlet>
    <servlet-name>UniversalDependencyParserSpanish</servlet-name>
    <servlet-class>deplambda.servlets.UniversalDependencyParser</servlet-class>
    <init-param>
      <param-name>pipelineCount</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>0-annotators</param-name>
      <param-value>tokenize, ssplit, pos, lemma, ner, depparse</param-value>
    </init-param>
    <init-param>
      <param-name>0-drawSvgTrees</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>0-svgZoomFactor</param-name>
      <param-value>1.5</param-value>
    </init-param>
    <init-param>
      <param-name>0-depparse.model</param-name>
      <param-value>/WEB-INF/lib_data/ud-models-v1.3/es/neural-parser/es-glove50.lower.nndep.model.txt.gz</param-value>
    </init-param>
    <init-param>
      <param-name>0-pos.model</param-name>
      <param-value>/WEB-INF/lib_data/ud-models-v1.3/es/pos-tagger/utb-caseless-es-bidirectional-glove-distsim-lower.tagger</param-value>
    </init-param>
    <init-param>
      <param-name>0-tokenize.language</param-name>
      <param-value>es</param-value>
    </init-param>
    <init-param>
      <param-name>0-ssplit.eolonly</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>0-ner.model</param-name>
      <param-value>edu/stanford/nlp/models/ner/spanish.ancora.distsim.s512.crf.ser.gz</param-value>
    </init-param>
    <init-param>
      <param-name>0-ner.applyNumericClassifiers</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>0-ner.useSUTime</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>1-annotators</param-name>
      <param-value>tokenize, ssplit</param-value>
    </init-param>
    <init-param>
      <param-name>1-tokenize.whitespace</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>1-ssplit.eolonly</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>1-preprocess.addDateEntities</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>1-preprocess.addNamedEntities</param-name>
      <param-value>true</param-value>
    </init-param>
   <init-param>
      <param-name>1-deplambda</param-name>
      <param-value>true</param-value>
   </init-param>
   <init-param>
      <param-name>1-deplambda.lexicalizePredicates</param-name>
      <param-value>true</param-value>
   </init-param>
   <init-param>
      <param-name>1-deplambda.definedTypesFile</param-name>
      <param-value>/WEB-INF/lib_data/ud.types.txt</param-value>
   </init-param>
   <init-param>
      <param-name>1-deplambda.treeTransformationsFile</param-name>
      <param-value>/WEB-INF/lib_data/ud-enhancement-rules.proto</param-value>
   </init-param>
   <init-param>
      <param-name>1-deplambda.relationPrioritiesFile</param-name>
      <param-value>/WEB-INF/lib_data/ud-obliqueness-hierarchy.proto</param-value>
   </init-param>
   <init-param>
      <param-name>1-deplambda.lambdaAssignmentRulesFile</param-name>
      <param-value>/WEB-INF/lib_data/ud-substitution-rules.proto</param-value>
   </init-param>
  </servlet>
  
  <servlet>
    <servlet-name>UniversalDependencyParserGerman</servlet-name>
    <servlet-class>deplambda.servlets.UniversalDependencyParser</servlet-class>
    <init-param>
      <param-name>pipelineCount</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>0-annotators</param-name>
      <param-value>tokenize, ssplit, pos, lemma, ner, depparse</param-value>
    </init-param>
    <init-param>
      <param-name>0-drawSvgTrees</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>0-svgZoomFactor</param-name>
      <param-value>1.5</param-value>
    </init-param>
    <init-param>
      <param-name>0-depparse.model</param-name>
      <param-value>/WEB-INF/lib_data/ud-models-v1.3/de/neural-parser/de-glove50.lower.nndep.model.txt.gz</param-value>
    </init-param>
    <init-param>
      <param-name>0-pos.model</param-name>
      <param-value>/WEB-INF/lib_data/ud-models-v1.3/de/pos-tagger/utb-caseless-de-bidirectional-glove-distsim-lower.tagger</param-value>
    </init-param>
    <init-param>
      <param-name>0-tokenize.language</param-name>
      <param-value>de</param-value>
    </init-param>
    <init-param>
      <param-name>0-ssplit.eolonly</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>0-ner.model</param-name>
      <param-value>edu/stanford/nlp/models/ner/german.hgc_175m_600.crf.ser.gz</param-value>
    </init-param>
    <init-param>
      <param-name>0-ner.applyNumericClassifiers</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>0-ner.useSUTime</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>1-annotators</param-name>
      <param-value>tokenize, ssplit</param-value>
    </init-param>
    <init-param>
      <param-name>1-tokenize.whitespace</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>1-ssplit.eolonly</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>1-preprocess.addDateEntities</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>1-preprocess.addNamedEntities</param-name>
      <param-value>true</param-value>
    </init-param>
   <init-param>
      <param-name>1-deplambda</param-name>
      <param-value>true</param-value>
   </init-param>
   <init-param>
      <param-name>1-deplambda.lexicalizePredicates</param-name>
      <param-value>true</param-value>
   </init-param>
   <init-param>
      <param-name>1-deplambda.definedTypesFile</param-name>
      <param-value>/WEB-INF/lib_data/ud.types.txt</param-value>
   </init-param>
   <init-param>
      <param-name>1-deplambda.treeTransformationsFile</param-name>
      <param-value>/WEB-INF/lib_data/ud-enhancement-rules.proto</param-value>
   </init-param>
   <init-param>
      <param-name>1-deplambda.relationPrioritiesFile</param-name>
      <param-value>/WEB-INF/lib_data/ud-obliqueness-hierarchy.proto</param-value>
   </init-param>
   <init-param>
      <param-name>1-deplambda.lambdaAssignmentRulesFile</param-name>
      <param-value>/WEB-INF/lib_data/ud-substitution-rules.proto</param-value>
   </init-param>
  </servlet>
  
  <servlet>
    <servlet-name>QueryUDP</servlet-name>
    <servlet-class>deplambda.servlets.QueryUDP</servlet-class>
    <init-param>
      <param-name>enUdpEndPoint</param-name>
      <param-value>http://localhost:8080/deplambda-demo/UniversalDependencyParserEnglish</param-value>
    </init-param>
    <init-param>
      <param-name>esUdpEndPoint</param-name>
      <param-value>http://localhost:8080/deplambda-demo/UniversalDependencyParserSpanish</param-value>
    </init-param>
    <init-param>
      <param-name>deUdpEndPoint</param-name>
      <param-value>http://localhost:8080/deplambda-demo/UniversalDependencyParserGerman</param-value>
    </init-param>    
  </servlet>
  
  <servlet-mapping>
    <servlet-name>UniversalDependencyParserEnglish</servlet-name>
    <url-pattern>/UniversalDependencyParser</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>QueryUDP</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>QueryUDP</servlet-name>
    <url-pattern>/QueryUDP</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UniversalDependencyParserEnglish</servlet-name>
    <url-pattern>/UniversalDependencyParserEnglish</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UniversalDependencyParserSpanish</servlet-name>
    <url-pattern>/UniversalDependencyParserSpanish</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UniversalDependencyParserGerman</servlet-name>
    <url-pattern>/UniversalDependencyParserGerman</url-pattern>
  </servlet-mapping>
</web-app>
